.ThankYou {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centralContainer {
    padding: 44px !important;
    min-height: 8rem !important;
    text-align: center;
}

.smallHeader {
    margin-top: 1em;
    color: teal;
}

.bar {
    width: 0;
    min-width: 0 !important;
    animation: linearProgress 7s;
    animation-timing-function: linear;
}

@keyframes linearProgress {
  0% {
    background-color: rgb(58, 58, 58);
    width: 0;
  }
  100% {
    background-color: #00b5ad;
    width: 100%;
  }
}